<div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
        <li>
            <a href="#dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
        <li>
            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Ledger</a>
        </li>
        <li>
            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Accounts</a>
        </li>
    <!-- /#side-menu -->
</div>
<!-- /.sidebar-collapse -->
