<div class="panel-heading">
    <i class="fa fa-edit fa-fw"></i> Add Account
</div>
<!-- /.panel-heading -->
<div class="panel-body">
    <form>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="name">
            <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input class="form-control" name="description">
        </div>
        <div class="form-group">
            <label>Type</label>
            <select class="form-control" name="type">
                <option>Asset</option>
                <option>Liabilities</option>
                <option>Income</option>
                <option>Expense</option>
            </select>
        </div>
    </form>
</div>
